@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
p{
  color: aliceblue;
}
h2{
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.social{
  display: flex;
}
.social a{
 display: flex;
  margin-top: -20px; 
  margin-bottom: 20px;
}

body {
  color: #fff;
  overflow-x: hidden; 
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.header-name {
  text-align: center;
  padding: 20px;
}

.img {
  text-align: center;
}

.img img {
  max-width: 200%;
  height: 100rem;
  max-height: 500px; 
}

.header-name img {
  width: 4rem;
}

.textInputWrapper {
  position: relative;
  width: 100%;
  max-width: 300px; 
  margin: 12px auto; 
  --accent-color: #9500ff;
}

.textInputWrapper:before,
.textInputWrapper:after {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  bottom: -1px;
  z-index: 4;
  width: 100%;
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
}

.textInputWrapper:before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
  transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
  border-bottom: 2px solid var(--accent-color);
  transform: scaleX(1);
}

.textInputWrapper:after {
  content: "";
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: transform;
  border-bottom: 2px solid var(--accent-color);
}

.textInput::placeholder {
  opacity: 1;
  user-select: none;
  color: rgba(255, 255, 255, 0.582);
}

.textInputWrapper .textInput {
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
  max-height: 36px;
  background-color: #252525;
  color: #e8e8e8;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  outline: none;
}

.textInputWrapper:focus-within .textInput,
.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  background-color: #353535;
}

.textInputWrapper:focus-within .textInput::placeholder {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr; 
  }
  
  .header-name {
    text-align: left;
    padding-left: 20px;
  }
  
  .img {
    text-align: right;
    padding-right: 20px;
  }
}
